*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img {
  margin-right: 50px;
  cursor: zoom-in;
}
.image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.img-two {
  transition: all 0.3s linear;
}
